<div class='l-pageHeader pageHeader'>
    <div class='l-logoContainer'>
        <div class='headerLogo'>RESTAURANT</div>
    </div>
    <div class='mobileMenuToggle'>Mobile</div>
    <div class='l-navContainer navContainer'>
        <div class ='navContent navContent--main'>
            <ul class='menuList'>
                <li class='listItem'><a href='/aboutus'>Our Story</a></li>
                <li class='listItem'><a href='/menu'>Menu</a></li>
                <li class='listItem'><a href='/Photos'>Photos</a></li>
                <li class='listItem'><a href='/Reservation'>reservation</a></li>
            </ul>
        </div>
        <div class='navContent navContent--social'>
            <ul class = 'menuList'>
                <li class='listItem'><a href='https://www.facebook.com'><i class="fab fa-facebook-f"></i></a></li>
                <li class='listItem'><a href='https://www.instagram.com'></a><i class="fab fa-instagram"></i></li>
                <li class='listItem'><a href='https://www.pintrest.com'><i class="fab fa-pinterest-p"></i></a></li>
            </ul>

        </div>
    </div>
</div>